body {
  background-color: $bg-secondary-dark;
  color: $bg-secondary;
}

.App {
  font-family: sans-serif;
}

.title {
  text-align: center;
  color: $bg-secondary;
  font-size: 2em;
}

.quote {
  color: $bg-secondary;
}

.Timebox,
.TimeboxFinished {
  border: $default-border;
  border-radius: $border-radius;
  padding: 5px;
  margin-bottom: 10px;
}

.TimeboxFinished {
  background-color: $bg-finish;
}

.TimeboxEditor,
.TimeboxCreator,
.LoginForm {
  text-align: right;
  border: $default-border;
  border-radius: $border-radius;
  padding: 20px;
  margin-bottom: 10px;
}

.TimeboxEditor {
  background-color: $bg-primary-dark;
  color: $bg-secondary;
}

.TimeboxSearch {
  background-color: $bg-secondary-dark;
  text-align: right;
  border: $default-border;
  border-radius: $border-radius;
  padding: 20px;
  margin-bottom: 10px;
}

.Timebox,
  {
  background-color: $bg-secondary-dark;
  color: $bg-secondary;
}

.CurrentTimebox {
  background-color: $bg-secondary;
  color: $bg-secondary-dark;
}

input {
  min-width: 50%;
  margin-left: 20px;
  font-size: 16px;
  padding-left: 10px;
  border-radius: $border-radius;
  border: $default-border;

}


button {
  font-size: 16px;
  margin-left: 10px;
}

.CurrentTimebox {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.Clock {
  color: orangered;
}

.progress {
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  margin-bottom: 20px;
  padding: 5px;

  &--big {
    height: 50px;
  }

  &--color-red {
    border-color: orangered;
  }

  &__bar {
    height: 100%;
    background-color: black;
  }

  &--color-red &__bar {
    background-color: orangered;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  color: $bg-secondary;

  &__logout-link {
    margin-left: 10px;
  }
}

a {
  text-decoration: none;
  color: $bg-primary-dark;

  &:hover {
    color: $bg-primary;
  }
}

.LoginForm {
  color: $bg-secondary;

  &__error-message {
    margin: 15px auto;
    text-align: center;
    border: 1px solid orangered;
    padding: 10px;
    border-radius: 5px;
    color: orangered;
  }
}

.error {
  color: maroon;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bg-secondary;
  font-family: sans-serif;
}

.addButton {
  background-color: orangered;
  color: $bg-secondary;
  border: none;
  border-radius: 5px;
  font-size: 2em;
  margin: 0 0 10px 0;
}

.updateButton,
.cancelButton,
.delButton,
.editButton,
.startButton,
.resetButton,
.stopButton,
.pauseButton,
.login,
.saveButton {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  margin: 5px;
  padding: 0;
}

.delButton,
.cancelButton {
  color: maroon;
}


.updateButton,
.editButton,
.stopButton,
  {
  color: $bg-finish;
}

.startButton,
.resetButton,
.pauseButton,
.login {
  color: $bg-primary-dark;
}

.saveButton {
  color: $bg-tertiary-dark;
}